beautifulsoup4
requests
tqdm
langchain
langchain-text-splitters
sentence-transformers
qdrant-client
rank-bm25
groq
python-dotenv
fastapi
uvicorn
python-multipart
pydantic
ragas
langchain-groq
deepeval